.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    width:100vw;
    height: 60px;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    display:flex;
    align-items: center;
    justify-content: center;
}   